## all ignore
/*
/.**

## white list
!/install.sh
!/.zshenv
!/.zimrc
!/.vimrc
!/.gitconfig
!/.gitignore
!/README.md
!/LICENSE
!/.github/**
!/.config/
!/.config/zsh/
!/.config/zsh/**
!/.config/zeno
!/.config/zeno/**
/.config/zsh/.zcompdump*
/.config/zsh/*history
/.config/zsh/.zim/
/.config/zsh/.zshenv.local