## all ignore
/*
/.**

!*/
## white list
!/install.sh
!/.zshenv
!/.zimrc
!/.vimrc
!/.gitignore
!/README.md
!/LICENSE
!/.github/**
!/.config/
!/.config/alacritty/alacritty.toml
!/.config/alacritty/themes/themes/tokyo-night-storm.toml
!/.config/Code/User/settings.json
!/.config/Code/User/keybindings.json
!/.config/nvim/
!/.config/nvim/**

!/.config/zsh/
!/.config/zsh/**
!/.config/zellij/
!/.config/zellij/**
!/.config/zeno/**
/.config/zsh/.zcomp*
/.config/zsh/*history
/.config/zsh/.zim/
/.config/zsh/.zshenv.local
!/.vscode/extensions/extensions.json